# sshm0 server config format v2
sshm0_server_ip=
sshm0_server_user=
sshm0_server_port=22
sshm0_server_auth=
sshm0_server_password=
sshm0_server_key=
sshm0_server_cd=
sshm0_server_timeout=10
sshm0_server_exec_before=()
sshm0_server_tags=()
sshm0_server_proxy=
sshm0_server_group=
